### PWA APP
### Fred Brooker <git@gscloud.cz>
### @license MIT https://gscloud.cz/LICENSE
### @link https://app.gscloud.cz

# Tracy debugger
#dbg: TRUE
dbg: FALSE

# CORE
app: app
canonical_url: 'https://app.gscloud.cz/'
date_default_timezone: 'Europe/Prague'
project: TESSERACT
secret_cookie_key: secure.key
version: v1

# Google OAUTH 2.0
goauth_origin: 'https://app.gscloud.cz'
goauth_redirect: 'https://app.gscloud.cz/login'

# local Google OAUTH 2.0
local_goauth_origin: 'http://localhost:8014'
local_goauth_redirect: 'http://localhost:8014/login'

# cache profiles
cache_profiles: [
  tenminutes: "+10 minutes"
]

# Redis server configuration
redis: [
  port: 6377
  timeout: 1
]

# extra data
data: [
]

# locales
lang: en
l:
  author: 'Fred Brooker @ GS Cloud Ltd. 2022-2023'
  but_api: '<i>settings_input_component</i>&nbsp;&nbsp;REST API'
  but_update: 'UPDATE'
  description: 'Rapid PWA development application template in jQuery, PHP OOP and Mustache.'
  err_connection: 'Connection error!'
  keywords: 'app, PWA, gscloud.cz, rapid, development, template, PHP, Mustache, jQuery'
  no_cookies: 'This app does not use any 3rd party cookies.'
  noscript: 'Please enable JavaScript!<br>Without scripting enabled, this app is useless.'
  switch_design: '🔳🔲 design'
  text_date: 'build date:'
  text_login: 'login'
  text_new: 'NEW'
  text_quota: 'API quota status:'
  text_settings: 'settings'
  text_user: 'user'
  text_version: 'version:'
  theme_color: '#000'
  tit_appinfo: 'MINI'
  title: 'PWA Mini App'
  webshare_button: '<i>share</i>&nbsp;&nbsp;share'

# Service Worker preload
swpreload: [
]

# Service Worker preload, CDN links
swpreload_cdn: [
  '/img/beercss.webp'
  '/js/beer.min.js'
  '/js/material-dynamic-colors.min.js'
]
