<img src="{{cdn}}/img/app-scheme.webp" alt="App Scheme" class="responsive white">

<h2>ipsum voluptatis</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui convenit? Nemo nostrum istius generis asotos iucunde putat vivere. Duo Reges: constructio interrete. Bonum negas esse divitias, praeposìtum esse dicis? Quodsi ipsam honestatem undique pertectam atque absolutam. <a href='http://loripsum.net/' target='_blank'>At ille pellit, qui permulcet sensum voluptate.</a> </p>
<blockquote cite='http://loripsum.net'>
	Atqui si, ut convenire debet inter nos, est quaedam appetitio naturalis ea, quae secundum naturam sunt, appetens, eorum omnium est aliquae summa facienda.
</blockquote>
<p>Quis Aristidem non mortuum diligit? Ego vero isti, inquam, permitto. <b>Praeclarae mortes sunt imperatoriae;</b> Prodest, inquit, mihi eo esse animo. </p>
<p>Itaque contra est, ac dicitis; Eam tum adesse, cum dolor omnis absit; </p>
<h3>Quis non odit sordidos, vanos, leves, futtiles?</h3>
<p>Nescio quo modo praetervolavit oratio. Immo videri fortasse. Nihil sane. Praeclare hoc quidem. <b>Quid ergo hoc loco intellegit honestum?</b> Hoc etsi multimodis reprehendi potest, tamen accipio, quod dant.</p>
